/*
@功能：404.css
@作者：庄小焱
@时间：2022年9月18日
*/

body {
    background: #ccc;
}

.xy {
    width: 650px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -200px;
}

.xydd {
    color: #999;
    font-family: '微软雅黑';
    font-size: 20px;
    text-align: center;
}