<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Athena</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="../static/favicon.ico" rel="icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">Athena项目设计</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>Athena-code-generate</h3>
        <ul>
            <li>Athena-code-generate项目结构介绍<a href="" target="_blank"></a></li>
            <li>Athena-code-generate项目运行说明<a href="" target="_blank"></a></li>
        </ul>
        <h3>Athena系统设计</h3>
        <ul>
            <li>Athena项目文档资料<a href="" target="_blank"></a></li>
            <li>Athena项目地址：<a href="" target="_blank"></a></li>
        </ul>
        <h3>项目开发者</h3>
        <ul>
            <li>庄小焱的博客<a href="" target="_blank"></a></li>
            <li>庄小焱CSND博文<a href="" target="_blank"></a></li>
        </ul>
    </div>
</div>
</body>
</html>