spring:
  cloud:
    gateway:
      routes:

        # high level athena-product service
        - id: athena-product-route
          uri: lb://athena-product
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/(?<segment>/?.*), /$\{segment}
        # low level athena-admin service
        - id: athena-admin-route
          uri: lb://athena-admin
          predicates:
            - Path=/api/**
          filters:
            - RewritePath=/api/(?<segment>/?.*), /athena-admin/$\{segment}




