package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.common.utils.PageUtils;
import ${package}.${moduleName}.entity.${className}Entity;

import java.util.Map;

/**
 * @description ${comments}
 * @date: ${datetime}
 * @author: ${author}
 */

public interface ${className}Service extends IService<${className}Entity> {
    /**
     * @description ${comments}
     * @param: params
     * @date: 2022/7/29 16:37
     * @return: PageUtils
     * @author: xjl
     */
    PageUtils queryPage(Map<String, Object> params);
}

